#copy {
  text-align: right;
  color: Gray;
}

#video {
  background-color: Black;
  text-align: center;
}

body {
  text-align: center;
  background-color: black;
}

h1 {
  color: white;
}

p {
  color: white;
}
